:root{
    --third-color: #90AFC5;
    --second-color: #336B87;
    --first-color: #2A3132;
    --background-color: #f1f1f1f1;
}

.container_section_skills_hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 1.5rem 0 0 0;
}



.skills-title,.hobbies-title{
    color: var(--second-color);
    text-align: center;
    font-size: 2rem;
}

.section-skills h2::first-letter,.section-hobbies h2::first-letter{
    color: var(--first-color);
}

.section_container-skills ul,.section_container-hobbies ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_container-skills ul li,.section_container-hobbies ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    font-size: 1.5rem;
    color: var(--second-color);
    transition: 1s ease transform;
}


.section_container-skills ul li:hover,.section_container-hobbies ul li:hover{
    transform: scale(1.2);
}